<div class="row">

    <div class="col-sm">
        <h3 class="text-center">Purchased Cars</h3>
        <div class="purchase-car-display">
            {{#each car}}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://img2.cgtrader.com/items/1908571/bc607730de/peugeot-504-taxi-3d-model-max.jpg" class="card-img" alt="{{this.make}} {{this.body_style}}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">{{this.make}} - {{this.body_style}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated {{trimDate this.updatedAt}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <div class="burger-display col-sm">
        <h3 class="text-center">Car Wishlist</h3>
        <table class="table table-striped">
            <tbody>
                <!-- {{#each burgers}}
                    {{#unless this.devoured}}
                        <tr>
                            <th scope="row">
                                {{this.burger_name}} <button type="button" class="btn btn-light devour-btn" data-burgerid={{this.id}} data-burgername="{{{this.burger_name}}}" name="button">Devoured</button>
                            </th>
                        </tr>
                    {{/unless}}
                {{/each}} -->
            </tbody>
        </table>
    </div>

</div>


<!-- <div class="row"> -->
    <!-- <div class="form-group col-lg text-center"> -->
        <!-- <form class="burgerAdd" action="" method=""> -->
            <!-- <label for="burgerName">Enter a burger you want to try and click "Submit"</label><br> -->
            <!-- <input type="text" name="burgerName" value=""><br> -->
            <!-- <button type="submit" class="btn btn-lg btn-primary" name="button">Submit</button> -->
        <!-- </form> -->
    <!-- </div> -->
<!-- </div> -->